@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #333;
  --type-fist: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", georgia;
  font-family: var(--type-fist);
  padding-top: 4rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-fist);
  color: #333;
}

button {
  cursor: pointer;
}

.VictoryContainer {
  height: initial !important;
}